<% recent_posts = Article.recent(10).posts %>
<% unless @article.nil? %>
  <% recent_posts.delete(@article) %>
<% end %>

<% unless recent_posts.count.zero? %>
<h3>Recent Posts</h3>
<ul id="article-list">
  <% recent_posts.each do |article| %>
    <li>
      <% short_title = truncate(article.title, :length => 50) %>
      <%= link_to short_title, article %>
    </li>
  <% end %>
</ul>
<% end %>
