<div id="blog-post">
<h1>
  <%= @article.title %>
</h1>
<span id="details">
  <%= @article.full_date_posted %> by
  <%= @article.author.full_name %>
</span>
<div id="body">
  <% @article.body.split("\n").each do |paragraph| %> 
    <p>
      <%= paragraph %>
    </p>
  <% end %>
</div>
</div>
