body {
  width: 8.5in;
  height: 11in;
  padding: 1in;
  font: 12pt serif;
}
body > div {
  padding: 5px;
}
#header {
  font-size: 2em;
}
#blog-post h1 {
  font-size: 1.5em;
}
#blog-post #details {
  font-weight: bold;
  font-style: italic;
}
#blog-post p {
  margin: 1em 0;
}
#footer {
  text-transform: uppercase;
  font-size: 0.75em;
}
